
/* add your CSS here */

body {
	font-family: Raleway;
	color: black;

}

.tradingcard {
	border: 1px solid rgb(33, 112, 239);
	border-spacing: 10px;
	width: 350px;
	box-shadow: inset 0 0 10px rgb(33, 112, 239);
}

img {
	width: 300px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 10px;
}

h3 {
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
}

#border {
	padding-left: 10px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
}

#animalinfo {
	border: 1px solid rgb(33, 112, 239);
	width: 300px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: .8em;
}

a {
  text-decoration: none;
  color: black;
  font-style: italic;    
}

a:hover {
  color: rgb(33, 112, 239);
  text-decoration: underline;
}

#interestingfact {
	font-style: italic;
}

.title {
	font-weight: bold;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

